@import "src/styles.scss";

#main-page {
    height: calc(100vh - 80px);
    background: url('/assets/img/pat.png'), url('/assets/img/gg.jpg') no-repeat;
    background-size: auto, cover;
    position: relative;

    #welcome-wrapper {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            @include header-text;
            font-size: 74px;
        }
        span.red {
            color: $type-color-highlight;
        }
    }
   
}
