@import "src/styles.scss";

#main-page {
    height: calc(100vh - 80px);
    background: url('/assets/img/pat.png'), url('/assets/img/gg.jpg') no-repeat;
    background-size: auto, cover;
    position: relative;

    h1 {
        font-family: $type-font-secondary;
        display: block;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 85px;
        color: $type-color-inverse;
        text-shadow: -4px 4px 0px #ff6161;
        margin: 0;
    }
}
