@import "src/styles.scss";

#main-page {
    height: calc(100vh - 40px);
    background: url('/assets/img/gg.png') no-repeat;
    background-size: cover;
    position: relative;
    // filter: grayscale(50%) saturate(0.25) sepia(.7);

    h1 {
        font-family: $type-font-secondary;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 85px;
        color: #ffe6e6;
        text-shadow: -4px 4px 0px #ff6161;
    }
}