$type-font-primary: "Roboto", Arial, sans-serif;
$type-font-secondary: "Montserrat", sans-serif;
$type-color-primary: #1d1d1d;
$type-color-inverse: #ffe6e6;
$type-color-highlight: #e3404c;
$color-border-primary: rgba(255,255,255,.16);

@mixin header-text {
  font-family: $type-font-secondary;
  color: $type-color-inverse;
  text-shadow: -4px 4px 0px #ff6161;
  margin: 0;
}

body,
html {
    background-color: #1e2e2e;
    margin: 0;
    padding: 0;
    color: $type-color-primary;
    font-family: $type-font-primary;
}

#headerBar {
  animation: header-shadow  10s infinite linear;
  background-color: #1d1d1d;
  height: 80px;
  z-index: 2;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.64);

    #header {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
    }

    #navBar,
    #loginBar {
        display: inline-flex;
        margin: 0;
        height: 80px;
        align-items: center;
        list-style: none;

        li {
            font-family: $type-font-primary;
            font-weight: bold;
            padding: 0 10px;
            color: $type-color-inverse;
            cursor: pointer;
            transition: all .2s linear;
            outline: none;
            &:hover {
              color: $type-color-highlight;
            }
        }
    }
  #loginBar {
    justify-self: end;

    #signin {
        border: 3px solid #fff;
        padding: 15px;
        border-image-source: linear-gradient(to left, #009ae9, #91498e);
        border-image-slice: 1;
        &:hover {
          color: $type-color-inverse;
          filter: hue-rotate(-56deg);
        }
    }
  }
}

.centrifier {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: #000;
    text-decoration: none;
}

#creds {
  color:  $type-color-inverse;
  opacity: .9;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
  pointer-events: none;
}

@keyframes header-shadow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.64);
  } 25% {
    box-shadow: 0 0 10px rgba(0, 28, 255, 0.64);
  } 50% {
    box-shadow: 0 0 10px rgba(0, 255, 31, 0.64);
  } 75% {
     box-shadow: 0 0 10px rgba(255, 240, 0, 0.64);
  } 100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.64);
  }
}
